//- Based on GTM/GA4 setup 
mixin toolUseEvent(toolName, toolCategory, interaction, formId, toolAction, status)
  script(nonce=nonce).
    window.dataLayer.push({
      event: 'tool_use',
      tool_name: '#{toolName}',
      tool_category: '#{toolCategory}',
      tool_interaction: '#{interaction}',
      !{formId ? `tool_form_id: '${formId}',` : ''}
      !{toolAction ? `tool_action: '${toolAction}',` : ''}
      !{status ? `tool_status: '${status}',` : ''}
    })