extends ../../../layouts/main

block content
  .faq-page
    .container
      .faq-page__header
        h1.faq-page__title #{ t('common:faq.title') }
        p.faq-page__subtitle #{ t('common:faq.page.subtitle') }

      .faq-page__body
        .faq-category
          p.faq-category__title #{ t('common:faq.general.title') }
          .faq-list
            details.faq-item
              summary.faq-question #{ t('common:faq.general.q1.question') }
              p.faq-answer #{ t('common:faq.general.q1.answer') }

            details.faq-item
              summary.faq-question #{ t('common:faq.general.q2.question') }
              p.faq-answer #{ t('common:faq.general.q2.answer') }

            details.faq-item
              summary.faq-question #{ t('common:faq.general.q3.question') }
              p.faq-answer
                | #{ t('common:faq.general.q3.answerPrefix') }&nbsp;
                a(href=`/${lang}/contact`) #{ t('common:faq.general.q3.linkText') }
                | . #{ t('common:faq.general.q3.answerSuffix') }

        .faq-category
          p.faq-category__title #{ t('common:faq.privacy.title') }
          .faq-list
            details.faq-item
              summary.faq-question #{ t('common:faq.privacy.q1.question') }
              p.faq-answer
                | #{ t('common:faq.privacy.q1.answerPrefix') }&nbsp;
                a(href=`/${lang}/privacy`) #{ t('common:faq.privacy.q1.linkText') }
                | .

            details.faq-item
              summary.faq-question #{ t('common:faq.privacy.q2.question') }
              p.faq-answer #{ t('common:faq.privacy.q2.answer') }

            details.faq-item
              summary.faq-question #{ t('common:faq.privacy.q3.question') }
              p.faq-answer #{ t('common:faq.privacy.q3.answer') }

        .faq-category
          p.faq-category__title #{ t('common:faq.accuracy.title') }
          .faq-list
            details.faq-item
              summary.faq-question #{ t('common:faq.accuracy.q1.question') }
              p.faq-answer #{ t('common:faq.accuracy.q1.answer') }

        .faq-category
          p.faq-category__title #{ t('common:faq.project.title') }
          .faq-list
            details.faq-item
              summary.faq-question #{ t('common:faq.project.q1.question') }
              p.faq-answer #{ t('common:faq.project.q1.answer') }
