extends ../../../layouts/main

block content
  .legal-page
    .container
      .legal-page__header
        h1.legal-page__title #{ t('common:privacy.title') }
        p.legal-page__meta #{ t('common:privacy.page.meta') } #{ currentYear }

      .legal-page__body
        section.legal-section
          h2 #{ t('common:privacy.s1.title') }
          p
            | #{ t('common:privacy.s1.p1prefix') } #{ siteUrl } #{ t('common:privacy.s1.p1suffix') }&nbsp;
            a(href=`/${lang}/contact`) #{ t('common:privacy.s1.contactLink') }
            | .

        section.legal-section
          h2 #{ t('common:privacy.s2.title') }
          p #{ t('common:privacy.s2.intro') }
          ul
            li
              strong #{ t('common:privacy.s2.item1.label') }&nbsp;
              | #{ t('common:privacy.s2.item1.text') }
            li
              strong #{ t('common:privacy.s2.item2.label') }&nbsp;
              | #{ t('common:privacy.s2.item2.text') }
            li
              strong #{ t('common:privacy.s2.item3.label') }&nbsp;
              | #{ t('common:privacy.s2.item3.text') }

        section.legal-section
          h2 #{ t('common:privacy.s3.title') }
          p #{ t('common:privacy.s3.intro') }
          ul
            li
              strong #{ t('common:privacy.s3.item1.label') }&nbsp;
              | #{ t('common:privacy.s3.item1.text') }
            li
              strong #{ t('common:privacy.s3.item2.label') }&nbsp;
              | #{ t('common:privacy.s3.item2.text') }
          p #{ t('common:privacy.s3.p2') }

        section.legal-section
          h2 #{ t('common:privacy.s4.title') }
          p
            | #{ t('common:privacy.s4.p1prefix') }&nbsp;
            a(href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer") #{ t('common:privacy.s4.p1link') }
            | .

        section.legal-section
          h2 #{ t('common:privacy.s5.title') }
          p
            | #{ t('common:privacy.s5.p1prefix') }&nbsp;
            a(href="https://adssettings.google.com" target="_blank" rel="noopener noreferrer") adssettings.google.com
            | .

        section.legal-section
          h2 #{ t('common:privacy.s6.title') }
          p #{ t('common:privacy.s6.intro') }
          ul
            li #{ t('common:privacy.s6.item1') }
            li #{ t('common:privacy.s6.item2') }
            li #{ t('common:privacy.s6.item3') }
            li #{ t('common:privacy.s6.item4') }
            li #{ t('common:privacy.s6.item5') }
            li #{ t('common:privacy.s6.item6') }
            li #{ t('common:privacy.s6.item7') }
          p
            | #{ t('common:privacy.s6.p2prefix') }&nbsp;
            a(href=`/${lang}/contact`) #{ t('common:privacy.s6.p2link') }
            | .

        section.legal-section
          h2 #{ t('common:privacy.s7.title') }
          p #{ t('common:privacy.s7.p1') }

        section.legal-section
          h2 #{ t('common:privacy.s8.title') }
          p #{ t('common:privacy.s8.p1') }
