extends ../../../layouts/main

block content
  .legal-page
    .container
      .legal-page__header
        h1.legal-page__title #{ t('common:terms.title') }
        p.legal-page__meta #{ t('common:terms.page.meta') } #{ currentYear }

      .legal-page__body
        section.legal-section
          h2 #{ t('common:terms.s1.title') }
          p
            | #{ t('common:terms.s1.p1prefix') } #{ siteUrl } #{ t('common:terms.s1.p1suffix') }

        section.legal-section
          h2 #{ t('common:terms.s2.title') }
          p
            | #{ siteName } #{ t('common:terms.s2.p1suffix') }
          p #{ t('common:terms.s2.p2') }

        section.legal-section
          h2 #{ t('common:terms.s3.title') }
          ul
            li #{ t('common:terms.s3.item1') }
            li #{ t('common:terms.s3.item2') }
            li #{ t('common:terms.s3.item3') }
            li #{ t('common:terms.s3.item4') }
            li #{ t('common:terms.s3.item5') }

        section.legal-section
          h2 #{ t('common:terms.s4.title') }
          p #{ t('common:terms.s4.intro') }
          ul
            li #{ t('common:terms.s4.item1') }
            li #{ t('common:terms.s4.item2') }
            li #{ t('common:terms.s4.item3') }
            li #{ t('common:terms.s4.item4') }
            li #{ t('common:terms.s4.item5') }
            li #{ t('common:terms.s4.item6') }

        section.legal-section
          h2 #{ t('common:terms.s5.title') }
          p #{ t('common:terms.s5.p1') }

        section.legal-section
          h2 #{ t('common:terms.s6.title') }
          p #{ t('common:terms.s6.p1') }
          p #{ t('common:terms.s6.p2') }

        section.legal-section
          h2 #{ t('common:terms.s7.title') }
          p #{ t('common:terms.s7.p1') }

        section.legal-section
          h2 #{ t('common:terms.s8.title') }
          p
            | #{ t('common:terms.s8.p1prefix') }&nbsp;
            a(href=`/${lang}/privacy`) #{ t('common:terms.s8.p1link') }
            | .

        section.legal-section
          h2 #{ t('common:terms.s9.title') }
          p #{ t('common:terms.s9.p1') }
          p
            | #{ t('common:terms.s9.p2prefix') }
            a(href="https://www.coi.cz" target="_blank" rel="noopener noreferrer") www.coi.cz
            | #{ t('common:terms.s9.p2suffix') }

        section.legal-section
          h2 #{ t('common:terms.s10.title') }
          p #{ t('common:terms.s10.p1') }

        section.legal-section
          h2 #{ t('common:terms.s11.title') }
          p
            | #{ t('common:terms.s11.p1prefix') }&nbsp;
            a(href=`/${lang}/contact`) #{ t('common:terms.s11.p1link') }
            | .
